$primary: #ea1d2c;

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/minireset.sass';
@import '~bulma/sass/base/generic.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/form/shared.sass';
@import '~bulma/sass/form/select.sass';
@import '~bulma/sass/form/input-textarea.sass';
@import '~bulma/sass/form/tools.sass';

// modify the original styles of Bulma
body {
  color: #dcdcdc;
}

.button {
  text-transform: uppercase;
}

.input,
.textarea,
.select select {
  background-color: #3a3a3a;
  color: #cacaca;
  border-color: transparent;
  transition: 200ms;
}

.input:hover,
.textarea:hover,
.select select:hover,
.is-hovered.input,
.is-hovered.textarea,
.select select.is-hovered {
  border-color: transparent;
  background-color: #444444;
}

.input:focus,
.textarea:focus,
.select select:focus,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.input:active,
.textarea:active,
.select select:active,
.is-active.input,
.is-active.textarea,
.select select.is-active {
  border-color: #b3b3b3;
  box-shadow: none;
}

.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: #cacaca;
}
