@import '~bulma/sass/utilities/_all.sass';

.navbar-filter {
  display: flex;
  width: 350px;
  padding: 20px;
  background-color: #040404;

  @include touch {
    z-index: 10;
    width: calc(100% - 60px);
    max-width: 600px;
    transform: translate(-100%, 0);
    transition: 200ms;
    top: 0;
    position: fixed;
    overflow: auto;
    height: 100%;
  }
}

.navbar-filter--is-open {
  @include touch {
    transform: translate(0, 0);
  }
}

.navbar-filter__button {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 40px;
  border-radius: 500px;
  line-height: 0;
  height: 60px;
  width: 60px;
  padding: 0;
  border: none;
  background-color: #ea1d2c;
  box-shadow: #666 0px 3px 4px -1px;

  @include touch {
    display: block;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: #ec303d;
    cursor: pointer;
  }
}

.navbar-filter__button-icon {
  height: 20px;
  width: 20px;
  color: #fff;
}

.navbar-filter__overlay {
  @include touch {
    width: 100vw;
    height: 100vh;
    background-color: #040404;
    position: fixed;
    z-index: 9;
    opacity: 0.5;
  }
}