@import '~bulma/sass/utilities/_all.sass';

.app {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #121212 600px);
  background-color: #ea1d2c;
}

.app__login {
  width: 500px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 12px;
  color: #fff;

  @include touch {
    margin: 0 auto;
  }
}

.app__login-title {
  font-size: 4rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
}

.app__login-description {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}